.bicycles-types {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color:#F6F7F9;
  margin:142px 0 0 0;
  padding:0 0 133px 0;

  @media (max-width: $desktop-medium-width) {
  }

  @media (max-width: $tablet-width) {
    height:auto;
    padding: 0;
    margin:70px 0 0 0;
  }

  @media (max-width: $mobile-width-only) {
    margin:40px 0 5px 0;
  }
}

.bicycles-types__name {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $dark;
  margin:149px 0 0 0;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
    margin:45px 0 0 0;
  }

  @media (max-width: $mobile-width-only) {
    margin:41px 0 0 0;
  }
}
