.invite-section {
  position: relative;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width:873px;
  height:1188px;
  margin:0 auto;

  @media (max-width: $super-extra-width) {
    height:988px;
  }

  @media (max-width: $extra-width) {
    height:868px;
  }

  @media (max-width: $desktop-width) {
    height:763px;
  }

  @media (max-width: $desktop-medium-width) {
    height:543px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    height:569px;
    width:100%;
    margin: 84px auto 0;
  }
}
