.logo-tablet-mob {
  color:#000;
  text-decoration: none;

  @media (max-width: $tablet-width) {
    margin:20px 0 0 0;
  }

  @media (max-width: $mobile-width-only) {
    margin:25px 0 0 -5px;
  }
}
