.menu-list {
  display: flex;
  height:62px;
  justify-content:space-between;
  align-items:center;
  margin:0 20px;
  padding:0;
  font-weight: 300;
  letter-spacing: -0.005em;
}

.menu-list__element {
  margin:21px 0 9px 0;
  a {
    color:#fff;
    line-height: 32px;
  }
}
