.menu-list {
  display: flex;
  line-height:32px;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap;
  margin:0;
  padding:0 20px;
  font-weight: 300;
  letter-spacing: -0.005em;
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom:1px solid rgba(255, 255, 255, 0.2);

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    height:auto;
    margin:100px 0 0 0;
    padding:0;
    overflow-y: auto;
  }
}

.menu-list__element {
  margin:21px 0 9px 0;
  flex-basis:10%;

  &:last-child {
    text-align: right;
  }

  a {
    width:100%;
    text-decoration: none;
    color:#fff;
    line-height: 32px;
    white-space: nowrap;
  }

  &:hover {
    a {
      color: $main;
    }
  }

  @media (max-width: $tablet-width) {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow:0;
    width:100%;
    line-height:60px;
    box-sizing: border-box;
    background: #F6F6F6;
    margin:0 0 30px 0;
    flex-basis:0;

    &:last-child {
      text-align: left;
    }

    &:hover {
      background:#666161 ;
    }

    a {
      font-size: 20px;
      line-height: 60px;
      color:#48494D;
      padding:0 35px 0 18px;
      white-space: normal;
      box-sizing: border-box;
      word-break: break-all;
    }

    &:before {
      content: "";
      position: absolute;
      top:calc(50% - 7px);
      right:25px;
      width:8px;
      height:14px;
      background-image:url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
