.menu-list {
  display: flex;
  height:62px;
  justify-content:space-between;
  align-items:center;
  margin:0 20px;
  padding:0;
  font-weight: 300;
  letter-spacing: -0.005em;
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    height:auto;
    margin:100px 0 0 0;
    overflow-y: auto;
  }
}

.menu-list__element {
  margin:12px 0 0 0;

  &:hover {
      transform: scale(1.15);
  }

  a {
    text-decoration: none;
    color:#fff;
    line-height: 32px;
    white-space: nowrap;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    display: flex;
    align-items: center;
    width:100%;
    line-height:60px;
    box-sizing: border-box;
    background: #F6F6F6;
    margin:0 0 30px 0;

    &:hover {
      background:#666161 ;
      transform: none;

      a {
        transform: none;
      }
    }

    a {
      font-size: 20px;
      line-height: 60px;
      color:#48494D;
      padding:0 35px 0 18px;
      white-space: normal;
      box-sizing: border-box;
      word-break: break-all;
    }

    &:before {
      content: "";
      position: absolute;
      top:calc(50% - 7px);
      right:25px;
      width:8px;
      height:14px;
      background-image:url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
