.tagline {
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  margin:0;

  @media (max-width: $tablet-width) {
    width::100%;
    text-align: center;
    font-size: 30px;
    line-height: 42px;
  }
}
