.wrapper-main-page {
  position: absolute;
  top:0px;
  left:0;
  right:0;
  height: 1250px;
  z-index: -1;
  background-image: image-set (
    url("../img/main-des.webp") type("image/webp"),
    url("../img/main-des.jpeg") type("image/jpeg"));
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-color: #000;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-des@2x.webp");
  }

  @media (max-width: $super-extra-width) {
    height:1050px;
    background-image: url("../img/main-des-super-extra.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-des-super-extra@2x.webp");
    }
  }

  @media (max-width: $extra-width) {
    height:930px;
    background-image: url("../img/main-des-extra.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-des-extra@2x.webp");
    }
  }

  @media (max-width: $desktop-width) {
    height:825px;
  }

  @media (max-width: $desktop-medium-width) {
    height:605px;
  }

  @media (max-width: $tablet-width) {
    height:340px;
    background-image: url("../img/main-tab.webp");

    &.wrapper-main-page--nojs {
      top:330px;
    }
    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-tab@2x.webp");
    }
  }

  @media (max-width: $mobile-width-only) {
    height:390px;
    background-image: url("../img/main-mob.webp");

    @media (min-resolution: 2dppx) {
      background-image: image-set (
        url("../img/main-mob@2x.webp") type("image/webp"),
        url("../img/main-mob@2x.jpeg") type("image/jpeg"));
    }
  }
}
