.wrapper-main-page {
  position: absolute;
  top:0px;
  left:0;
  right:0;
  height:825px;
  z-index: -1;
  background-image: url("../../img/MainDes.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
}
