.wrapper-tagline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width:393px;
  height:267px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    height:126px;
    width:435px;
  }

  @media (max-width: $mobile-width-only) {
    height:200px;
    width:288px;
  }
}
