/*Fonts*/
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans300.woff2") format("woff2"),
    url("../fonts/OpenSans300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans400.woff2") format("woff2"),
    url("../fonts/OpenSans400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans500.woff2") format("woff2"),
    url("../fonts/OpenSans500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans600.woff2") format("woff2"),
    url("../fonts/OpenSans600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans700.woff2") format("woff2"),
    url("../fonts/OpenSans700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans800.woff2") format("woff2"),
    url("../fonts/OpenSans800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
